body {
    background-color:#8cfadf;
    margin: 0px;
    padding: 0px;
    font-family:sans-serif;
    font-size: 15px;
  }

  header {
    display: flex;
    flex-direction: column;
    background-color: #04c789;
    height: 500px;
  }

  nav {
    display: flex;
    height: 100px;
  }

  .menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0px;
  }

  figure {
    margin: 0px;
  }

  .title-banner {
    height: 400px;
    background-image: url(hero-image-website.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-size: 5em;
  }
  
  .menu-link {
    color: #375a91;
    padding: 20px;
    background-color: #04c789;
    display: flex;
    align-items: center;
  }

  .menu-link:hover {
      color: #375a91;
      text-decoration:none;
      background-color: #4ea379;
  }

  
  h1, h2 {
    color:#fc6a6c;
    font-style:italic;
  }
  
  footer a {
    color: #375a91;
    height: 100px;
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
  }

  .copyright {
    padding: 10px;
  }

  footer a:hover {
    text-decoration: none;
    background-color: #4ea379;
  }
  
  footer {
    background-color: #04c789;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
  }
  
  #container {
    min-width: 300px;
    margin: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .text-content {
    font-size: 1.1em;
  }
  
  p {
    color:#c103fc;
    text-align: center;
  }
  
  li {
    color:#c103fc;
  }
  
  a {
    font-size:20px;
    text-decoration:none;
  }
  

  th, td {
    padding-right: 20px;
    text-align: left;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
  }

  .favorite-games {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-width: 3px;
    border-color: #e08cfa;
    border-style: solid;
    border-radius: 20px;
    float: right;
    width: 46%;
    padding: 10px;
  }

  table {
    padding-left: 100px;
  }

  .game-picture {
    border-radius: 10px;
    border-width: 3px;
    border-color: #fc6a6c;
    border-style: solid;
  }

  .profile-picture {
    height: 95px;
    width: 200px;
    margin: 2px 2px;
  }

  ul {
    display: inline-block;
  }

  .introduction {
    padding: 5px;
    border-width: 3px;
    border-color: #fc6a6c;
    border-style: solid;
    border-radius: 20px;
  }

  .left {
    float: left;
    width: 48%;
    border-width: 3px;
    border-color: #04c789;
    border-style: solid;
    border-radius: 20px;
    margin: 5px;
    margin-bottom: 20px;
  }

  .right {
    float: right;
    width: 48%;
    border-width: 3px;
    border-color: #f4fc83;
    border-style: solid;
    border-radius: 20px;
    margin: 5px;
  }

  .tennis-picture {
    border-radius: 10px;
    border-width: 3px;
    border-color: #fc6a6c;
    border-style: solid;
  }

  .first-project {
    border-radius: 20px;
    border-color: #c103fc;
    border-style: solid;
    border-width: 3px;
    float: left;
    margin-bottom: 50px;
    width: 98%;
    font-size: 1.1em;
    padding: 10px;
    margin-right: 10px;
  }

  .wekker-picture {
    border-radius: 10px;
    border-width: 3px;
    border-color: #fc6a6c;
    border-style: solid;
  }



  
