body {
    background-color:#8cfadf;
    margin: 0px;
    padding: 0px;
    font-family:sans-serif;
    font-size: 15px;
  }
  
  .menu-link {
    color: #e08cfa;
    padding: 10px;
    background-color: #04c789;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  h1, h2 {
    color:#fc6a6c;
    font-style:italic;
  }
  
  footer a {
    color: green;
  }
  
  footer {
    background-color: #e08cfa;
    text-align: right;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 77vw;
  }

  .copyright {
    float: left;
  }
  
  #container {
    width: 85vw;
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  
  .text-content {
    font-size: 1.1em;
  }
  
  p {
    color:#c103fc;
    text-align: center;
  }
  
  
  a:hover {
    color:#f4fc83;
    text-decoration:underline;
  }
  
  li {
    color:#c103fc;
  }
  
  a {
    font-size:20px;
    text-decoration:none;
  }
  
  table {
    align-items: center;
  }

  th, td {
    padding-right: 20px;
    text-align: left;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
  }

  .favorite-games {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 50px;
    border-width: 3px;
    border-color: #e08cfa;
    border-style: solid;
    border-radius: 20px;
    float: right;
    width: 46%;
    padding: 10px;
  }

  .game-picture {
    border-radius: 10px;
    border-width: 3px;
    border-color: #fc6a6c;
    border-style: solid;
  }

  .profile-picture {
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border-width: 3px;
    border-color: #fc6a6c;
    border-style: solid;
  }

  ul {
    display: inline-block;
  }

  .introduction {
    padding: 5px;
    border-width: 3px;
    border-color: #fc6a6c;
    border-style: solid;
    border-radius: 20px;
  }

  .left {
    float: left;
    width: 48%;
    border-width: 3px;
    border-color: #04c789;
    border-style: solid;
    border-radius: 20px;
    margin: 5px;
    margin-bottom: 50px;
  }

  .right {
    float: right;
    width: 48%;
    border-width: 3px;
    border-color: #f4fc83;
    border-style: solid;
    border-radius: 20px;
    margin: 5px;
  }

  .tennis-picture {
    border-radius: 10px;
    border-width: 3px;
    border-color: #fc6a6c;
    border-style: solid;
  }



  
